﻿@using System.Web.UI.HtmlControls
@model Store_Management_App.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-8 pa-0">
    <div class="auth-form-wrap py-xl-0 py-50">
        <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-100">
            @using (Html.BeginForm("AddUser", "Account", FormMethod.Post, new { novalidate = "" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="display-4 mb-10">Create New User</h1>


                <div class="form-row">
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })

                        @Html.ValidationMessageFor(v => v.FirstName)

                    </div>
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })
                        @Html.ValidationMessageFor(v => v.LastName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(v => v.UserName)
                </div>

                <div class="form-group">

                    @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Select Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.GenderId)

                </div>
                <div class="form-group">

                    @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles, "Name", "Name"), "Select Role", new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.Role)
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(v => v.Email)

                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(v => v.Password)

                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(v => v.ConfirmPassword)

                </div>


                <div class="form-row">
                    <div class="col-sm-6 mb-20 ">
                        <button class="btn btn-primary btn-block " type="submit">Create</button>
                    </div>

                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
