﻿
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="hk-pg-header">
    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Orders Table</h4>
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Orders Table</h5>




            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap">
                        <table id="orders" class="table table-striped  w-100  pb-30">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Customer</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>CreatedAT</th>
                                <th>UpdatedAT</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>



        </section>

    </div>
</div>



 

