﻿@model Store_Management_App.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

    <div class="login-register-area pt-45 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" href="#">
                                <h4> Change Password </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active">

                                <div class="login-form-container">
                                

                                    <div class="login-register-form">
                                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {role = "form" }))
                                        {
                                            @Html.ValidationSummary("", new { @class = "text-danger" })

                                            @Html.AntiForgeryToken()
                                            @Html.PasswordFor(m => m.OldPassword, new { placeholder = Html.DisplayNameFor(m => m.OldPassword) })

                                            @Html.PasswordFor(m => m.NewPassword, new { placeholder = Html.DisplayNameFor(m => m.NewPassword) })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                                           

                                            <div class="button-box">
                                               
                                                <button type="submit">Change Password</button>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
