﻿@model Store_Management_App.Models.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="checkout-main-area pt-45 pb-120">
    <div class="container">

        <div class="customer-zone mb-20">
            <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p>
            <div class="checkout-login-info3">
                <form action="#">
                    <input type="text" placeholder="Coupon code">
                    <input type="submit" value="Apply Coupon">
                </form>
            </div>
        </div>
        <div class="checkout-wrap pt-30">
            @using (Html.BeginForm("ProcessOrder", "Shop"))
            {
                <div class="row">

                    <div class="col-lg-7">
                        <div class="billing-info-wrap mr-50">
                            <h3>Billing Details</h3>
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Full Name <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.FullName)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.FullName)
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Company Name <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.CompanyName)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.CompanyName)
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Street Address <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.Address1, new { @class = "billing-address", placeholder = "House number and street name" })
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.Address1)
                                        @Html.TextBoxFor(m => m.OrderViewModel.Address2, new { placeholder = "Apartment, suite, unit etc" })

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.Town)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.Town)
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>State / County <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.State)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.State)
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Postcode / ZIP <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.PostalCode)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.PostalCode)
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Phone <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.Phone)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.Phone)
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Email Address <abbr class="required" title="required">*</abbr></label>
                                        @Html.TextBoxFor(m => m.OrderViewModel.Email)
                                        @Html.ValidationMessageFor(v => v.OrderViewModel.Email)
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.OrderViewModel.UserId)
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info">
                                        <ul>
                                            <li>Product <span>Total</span></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-middle">

                                        <ul>
                                            @foreach (var item in Model.CartItems.ToList())
                                            {
                                                <li>@item.Product.Name X @item.Quantity <span>@((item.Quantity * item.Product.Price).ToString("C")) </span></li>
                                            }

                                        </ul>
                                    </div>
                                    <div class="your-order-info order-subtotal">
                                        <ul>
                                            <li>Subtotal <span>@Model.CartItems.Sum(p => p.Quantity * p.Product.Price).ToString("C") </span></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-info order-shipping">
                                        <ul>
                                            <li>
                                                Shipping
                                                <p>Free </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="your-order-info order-total">
                                        <ul>
                                            <li>Total <span>@Model.CartItems.Sum(p => p.Quantity * p.Product.Price).ToString("C")</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method">


                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-3" class="input-radio" type="radio" value="cheque" checked disabled name="payment_method">
                                        <label for="payment-method-3">Cash on delivery </label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="Place-order">
                                <input type="submit" value="Place Order">
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}