﻿@model IEnumerable<string>
@{
    string Active(string ven) => (ViewBag.SelectedVendor  == ven) ? "active" : "";
}

<div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
    <h4 class="sidebar-widget-title">Vendors </h4>
    <div class="shop-catigory">
        <ul>
                
            @foreach (var vendor in Model)
            {
                <li><a  class="@Active(vendor)" href="@Url.RouteUrl(null, new {controller = "Shop", action = "Index", vendor = vendor, page = 1})">@vendor</a></li>
            }
               
        </ul>
    </div>
</div>
