﻿@model IEnumerable<Order>
@{
    var count = 0;
    var status = "";
}


        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model)
            {
                count++;
                switch (order.Status)
                {
                    case OrderStatus.Pending:
                        status = "Pending";
                        break;
                    case OrderStatus.Completed:
                        status = "Completed";
                        break;
                    case OrderStatus.Cancelled:
                        status = "Cancelled";
                        break;

                    default:
                        break;

                }


                <tr>
                  
                    <td>@count</td>
                    <td>@order.CreatedAt.ToString("MMM dd, yyyy")</td>
                    <td>@status</td>
                    <td>@order.OrderItems.Sum( o => o.Price * o.Quantity ).ToString("C")</td>
                    <td><a href="@Url.Action("Order", "Shop", new{ id = order.Id})" class="check-btn sqr-btn ">View</a></td>
                </tr>
                
            }
            

            </tbody>
        </table>
